* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0475);
    z-index: 999;
    animation: fromTop 2s ease-in-out;
}

@keyframes fromTop {
    0%{
        transform: translateY(-70px);
    }
    100%{
        transform: translateY(0px);
    }
}

.wrap-img {
    background-color: white;
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrap-links {
    background-color: white;
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.wrap-links a {
    text-decoration: none;
    color: lightslategrey;
    font-weight: bold;
    transition: all 200ms ease-in-out;
}

.wrap-links a:hover {
    text-decoration: underline;
    color: lightsteelblue;
}

.logo {
    width: 70px;
    height: 70px;
}

#s1 {
    background-color: lightgray;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fromLeft 2.5s ease-in-out;
}

@keyframes fromLeft {
    0%{
        transform: translateX(-100px) rotate(-50deg);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
} 

.right {
    width: 400px;
    animation: fromRight 2.5s ease-in-out;
}

@keyframes fromRight {
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
} 

.wrap-banner {
    border-radius: 999px;
    overflow: hidden;
    width: 350px;
    height: 350px;
}

.wrap-banner img {
    width: 350px;
    height: 350px;
    filter: grayscale(1);
    transition: all 200ms ease-in-out;
}

.wrap-banner img:hover {
    filter: grayscale(0);
    transform: scale(1, 1);
}

.right h1 {
    font-size: 48px;
    width: 100%;
}

.right p {
    font-size: 18px;
    width: 100%;
}

#s2 {
    background-color: lightgray;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4vh;
}

.wrap-cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.card {
    width: 230px;
    padding: 20px;
    border: 2px solid #090909;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card img {
    width: 180px;
    height: auto;
    margin-bottom: 20px;
    transition: all 200px linear;
    border-radius: 16px;
}

.card:hover img {
    transform: scale(1.2);
    box-shadow: 0px 3px 20px #09090976;
}

#s3 {
    background-color: black;
    min-height: 100vh;
    padding-top: 90px;
}

#s3 iframe{
    width: 1068px;
    height: 640px;
}

.wrap-video{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#s4 {
    background-color: lightgray;
    min-height: 100vh;
    padding-top: 90px;
}

@media (width <=768px) {
    nav {
        flex-direction: column;
        height: auto;
        padding-bottom: 15px;
    }

    .wrap-links a {
        text-align: center;
    }



    #s1 {
        flex-direction: column;
        padding-top: 130px;
        min-height: 50vh;
        height: auto;
    }

    .left {
        width: 100%;
    }

    .right {
        width: 100%;
        text-align: center;
    }

    .wrap-banner {
        width: 250px;
        height: 250px;
    }

    .wrap-banner img {
        width: 250px;
        height: 250px;
    }

    .right p {
        padding: 50px;
    }
    #s3 {
        min-height: 50vh;
        height: auto;
        width: 100%;
    }

    #s3 iframe{
        width: 100%;
    }
}